{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
{% endblock %}

{% block javascripts %}
    <script src="./assets/js/ouical.js"></script>
    <script src="./assets/js/script.js"></script>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ patient_name }}! </h1>

    <ul>
        <li>ID записи <span>{{ entry_id }}</span></li>
        <li>Имя пациента <span>{{ patient_name }}</span></li>
    </ul>

    <div id = "calendar-wrapper"></div>
</div>

{% endblock %}
