{% extends 'base.html.twig' %}

{% block title %}Запись в клинику ЭСТЕЛАБ{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css?{{ cssVersion }}">
{% endblock %}

{% block javascripts %}
    <script src="./assets/js/script.js?{{ cssVersion }}"></script>
{% endblock %}

{% block body %}

<div class="page-wrapper">
    <img class="logo" src="./assets/img/logo.png">
    <h2>Ваша запись в клинику ЭСТЕЛАБ</h2>
    <p class="date">{{ entry_date }}</p>

    {{ render(controller(
        'App\\Controller\\MainController::initCalendarWidget',
        {
            'title': 'title',
            'startTime' : js_entry_date,
            'endTime' : js_entry_date,
            'desc' : 'описание',
            'address': 'Народная ул., 12, Москва, Россия, 115172',
            'url' : app.request.uri
        }
    )) }}

    <h2>Адрес клиники</h2>
    <p>Москва, ул. Народная, д.12 </p>
    <p class="metro_info"><span class="metro-icon"></span>Таганская, три минуты пешком</p>
    <p><a href="#" id = "open_map" style="cursor: pointer;">Показать на карте</a></p>
    <h2>Позвонить</h2>
    <p>
        <a href="tel:+74956468789">+7 495 646-87-89</a>
    </p>

</div>

{% endblock %}
