<link rel="stylesheet" type="text/css" href="./assets/css/calendar.css">


<div class = "add-to-calendar_btn">
    <span class = "calendar-icon"></span>
    <span class = "text">Добавить в календарь</span>

    <div class="popup-wrapper">
        <a href="{{ href_apple }}" class = "calendar-item calendar_apple">
            <span class = "calendar-icon apple"></span>
            <span>Apple</span>
        </a>
        <a href="{{ href_google }}" class = "calendar-item calendar_apple">
            <span class = "calendar-icon google"></span>
            <span>Google</span>
        </a>
        <a href="{{ href_apple }}" class = "calendar-item calendar_apple">
            <span class = "calendar-icon outlook"></span>
            <span>Outlook</span>
        </a>
    </div>
</div>