<h2 class = "calendar-title">Добавить в календарь</h2>

<div class="btn-cont">
    <a href="{{ href_apple }}" class = "calendar-item calendar_apple">
        <span class = "calendar-icon apple"></span>
        <span>Apple</span>
    </a>
    <a href="{{ href_google }}" class = "calendar-item calendar_apple">
        <span class = "calendar-icon google"></span>
        <span>Google</span>
    </a>
    <a href="{{ href_apple }}" class = "calendar-item calendar_apple">
        <span class = "calendar-icon outlook"></span>
        <span>Outlook</span>
    </a>
</div>